.card{
    max-width: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.cardBody{
    padding-bottom: 30px;
    padding-top: 15px;
}

.gamecardIconsSection{
    justify-content: space-between;
}