.genreListButton{
    padding: 0 0 20px 40px;
}

.image{
    border-radius: 5px;
    object-fit: cover;
}
.genreLabel{
    font-size: 13px;
    font-family: 'Inter';
    text-align: left;
}

.genreList{
    margin-top: 80px;
}
.genreListItem{
    transform-origin: 15% ;
    transform: scale(1);
    transition: transform .3s;
}

.genreListItem:hover{
    transform: scale(1.3);
}
