@media screen and (min-width: 768px) {
  .navBar {
    width: 100%;
    position: fixed;
    z-index: 1;
  }
}
.logo {
  width: 200px;
  object-fit: cover;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 200px;
  }
}
.searchInput {
  justify-self: flex-start;
}
