html{
    scroll-behavior: smooth;
    font-family: Inter;

}
:root{
    --color-primary: #03050B; 
    --color-gray: #1D2026;
    --color-accent: #AC1B1B;
    --color-border-line: #292929;
    --color-line: #252f42;
    --color-heading: #ECECEC;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-border-line);
    border-radius: 6px;
    
}

::-webkit-scrollbar-corner {
    display: none;
}
h1, h2, h3{
    font-family: Inter;
}

p, span{
    font-family: Poppins;
}